@import "tailwindcss";

@theme {
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-cairo: "Cairo", "sans-serif";
  --color-main-bleu: #03a6db;
  --color-main-bleu-bg: #4682b4;
  --color-head-bg: #03132bc9;
  --color-head-btn: #ffefd5d6;
  --color-pappay: #ffefd5;
  --color-text-dark: #1c1c1c;
}

@layer base {
  h1,
  h2,
  h3 {
    @apply text-[min(10vw,70px)];
  }

  * {
    @apply font-cairo;
  }
}

body {
  @apply bg-main-bleu-bg;
}

@utility wrapper {
  @apply lg:border-30  border-main-bleu-bg;
}

@utility hellich {
  @apply relative mx-auto w-full overflow-visible bg-[url('./assets/images/dark-grain-bg.svg')] bg-cover bg-center bg-no-repeat;
}

@utility flexx {
  @apply flex justify-center items-center;
}

@utility head-links {
  @apply flexx mr-17.5 gap-10  text-[#99b8f2];
}

@utility font-zero {
  font-feature-settings: "zero";
}

@utility time-font {
  font-variant-numeric: tabular-nums;
}

@layer components {
  .nav-link-animated {
    @apply relative pb-1 transition-colors duration-300;
  }

  .nav-link-animated::after {
    content: "";
    @apply absolute bottom-0 left-0 h-0.5 w-0 bg-white;
    transition: width 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .nav-link-animated:hover::after {
    @apply w-full;
  }
}

@keyframes slide-horizontal {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  .sliding-text {
    animation: slide-horizontal 8s linear infinite;
  }
